<form [formGroup]="form" (ngSubmit)="onSubmit()" data-testid="new-game-settings">
    <h3>{{ 'player.plural' | translate }}</h3>

    <ng-container formArrayName="list">
        @for (form of list.controls; track $index) {
            <ng-container [formGroupName]="$index">
                <label>
                    <span>{{ 'player.id' | translate: { id: $index + 1 } }}</span>
                    <p-dropdown data-testid="player-dropdown" [style]="{ width: '100%' }" appendTo="body" showClear filter filterBy="name"  [options]="selectablePlayers()" optionLabel="name" optionValue="id" formControlName="player" (onChange)="setValidators($index)">
                        <ng-template let-player pTemplate="item">
                            <div class="option-container">
                                @if (player.id === -1) {
                                    <app-icon>add</app-icon>
                                }
                                <span>{{ player.name }}</span>
                            </div>
                        </ng-template>
                    </p-dropdown>
                </label>
    
                @if (getlistPlayer($index).value === -1) {
                    <label>
                        <span data-testid="player-new-title">{{ 'player.new' | translate }}</span>
                        <input data-testid="player-new-input" [style]="{ width: '100%' }" pInputText type="text" formControlName="new" maxlength="20">
                        <small data-testid="player-new-info">{{ 'player.max' | translate: { max: 20 } }}</small>
                    </label>
                }
            </ng-container>

            @if(!$last) {
                <p-divider />
            }
        }
    </ng-container>

    <p class="error" data-testid="error">{{ errorMessage() }}</p>

    <div class="button-container">
        <p-button data-testid="close" severity="secondary" [label]="'actions.cancel' | translate" (onClick)="cancel()" [loading]="loading()" />
        <p-button data-testid="play" [label]="'actions.play' | translate" type="submit" [loading]="loading()" />
    </div>
</form>
