label {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 16px 0;
}

.option-container {
    display: flex;
    align-items: center;
    gap: 8px;
}

.error {
    color: red;

    margin-bottom: 16px;
}

.button-container {
    display: flex;
    justify-content: space-between;
    gap: 16px;
}