@if (loading()) {
    <p-progressSpinner ariaLabel="loading" />
} @else {
    <div class="card">
        <p-button data-testid="new-game-button" (onClick)="visible.set(true)">{{ 'game.new' | translate }}</p-button>

        <h2>{{ 'game.list' | translate }}</h2>
        <div class="game-container">
            @for (game of games(); track game.id) {
                <app-game-card [game]="game"></app-game-card>
            }
        </div>
    </div>
}

<app-dialog [visible]="visible()" [header]="'game.settings' | translate">
    <app-game-settings (onCancel)="visible.set(false)"></app-game-settings>
</app-dialog>